<div mat-dialog-content class="container">
        <form (submit) = "uploadFoto($event)">
            <label for="foto"></label>
            <input type="file" id="foto" name="foto" accept="image/png, image/jpeg" (change)="verificado($event)">
            <img *ngIf="image" src="{{image}}" id="mini">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="name" maxlength="100"><br><br>
            <label for="descricao">Descricao:</label>
            <textarea id="descricao" name="descricao" rows="4" cols="50" maxlength="500"></textarea>
            <span class="description"></span>
            <button type="submit" [disabled]="!disabled ? 'disabled':null">Upload</button>
        </form>
</div>