<body>
    <div class="bg">
        <h2>Registar</h2>
        <div class="container">
            <form [formGroup]="frmSignup" (submit)="submit()">
                <div>
                    <label for="username"
                        [ngClass]="frmSignup.controls['username'].invalid ? 'text-danger' : ''"><b>Username</b></label>
                    <input id="username" formControlName="username" type="text" class="form-control"
                        [ngClass]="frmSignup.controls['username'].invalid ? 'is-invalid' : ''">
                    <label class="col"
                        [ngClass]="frmSignup.controls['username'].hasError('required') || frmSignup.controls['username'].hasError('minlength') ? 'text-danger' : 'text-success'">
                        <i class="material-icons">{{ frmSignup.controls['username'].hasError('username') ||
                            frmSignup.controls['username'].hasError('minlength') ? 'cancel' :
                            'check_circle' }}</i>
                        Deve ter 3 ou mais carateres!
                    </label>
                </div>
                <div>
                    <label for=" password"
                        [ngClass]="frmSignup.controls['password'].invalid ? 'text-danger' : ''"><b>Password</b></label>
                    <input id="password" formControlName="password" type="password" class="form-control"
                        [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''">
                    <label class="col"
                        [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                        <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
                            'check_circle' }}</i>
                        Deve ter 8 ou mais carateres!
                    </label>
                    <label class="col"
                        [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                        <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
                            'check_circle' }}</i>
                        Deve ter um algarismo!
                    </label>
                    <label class="col"
                        [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                        <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                            'check_circle' }}</i>
                        Deve conter uma letra maiúscula!
                    </label>
                    <label class="col"
                        [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                        <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                            frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                            'check_circle' }}</i>
                        Deve conter uma letra minúscula!
                    </label>
                </div>
                <div>
                    <label for="confirmPassword"
                        [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirm
                        Password:</label>
                    <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                        [ngClass]="frmSignup.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
                    <label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('required')">
                        Password is Required!
                    </label>
                    <label class="text-danger"
                        *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
                        Password do not match
                    </label>
                </div>

                <button [disabled]="frmSignup.invalid" type="submit"
                    class="btn btn-primary btn-block font-weight-bold">Registar</button>

            </form>
            <div class="login">
                <h1>Já tem uma conta?</h1>
                <button routerLink="/login">Fazer login</button>
            </div>
        </div>

    </div>
</body>