* {
    height: 100%;
    margin: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}

.bg {
  /* The image used */
  background-image: url("src\assets\images\fundo2.jpg");

  /* Full height */

  /* Center and scale the image nicely */
  padding-top: 2%;
  background-size: 100%;
  padding-bottom: 16%;
  background-repeat: no-repeat;
}

h2 {
  color: black;
  font-size: 45px;
  margin-left: 13%;
  margin-top: 1%;
}

h1 {
  color: #ccc;
  font-size: 15px;
  margin-top: 3%;
}

.container {
  color: #ccc;
  border: 3px solid #222222;
  border-radius: 5%;
  background-color: #000000;
  padding: 16px;
  width: 30%;
  margin-left: 6%;
  margin-top: 1%;
}


/* Full-width inputs */
input {
  color: #ccc;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #222222;
  background-color: black;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button[type=submit] {
  background-color: #eb5b0d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button {
  border-radius: 3px;
  background-color: #eb5b0d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
