* {
    height: 100%;
    margin: 0px;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
}

.bg {
  background-image: url("src\assets\images\fundo2.jpg");

  padding-top: 2%;
  background-size: 100%;
  padding-bottom: 4%;
  background-repeat: no-repeat;
}

h2 {
  color: #000000;
  font-size: 45px;
  margin-left: 13%;
  margin-top: 1%;
  position: relative;
}

h1 {
  color: #ccc;
  font-size: 15px;
  margin-top: 3%;
  position: relative;
}

.container {
  margin-top: 1%;
  margin-left: 4%;
  position: relative;
  color: #ccc;
  border: 2px solid #333;
  border-radius: 5%;
  background-color: #1b1b1b;
  padding: 1%;
  width: 30%;
}

/* Full-width inputs */
input {
  color: #ccc;
  width: 100%;
  padding: 2% 2%;
  margin: 1% 0;
  display: inline-block;
  border: 1px solid #333;
  background-color: #1b1b1b;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button[type=submit] {
  font-size: 15px;
  background-color: #eb5b0d;
  color: white;
  padding: 1% 1%;
  margin: 1% 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button {
  font-size: 15px;
  border-radius: 3%;
  background-color: #eb5b0d;
  color: white;
  padding: 1% 1%;
  margin: 1% 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

#naoRegista {
  margin-left: 4.3%;
}

@media only screen and (max-width: 600px) {
  .bg {
    background-color: black;
    background-image: url("src\assets\images\fundo2tlm.jpg");
    padding-bottom: 55%;
  }

  .container {
  margin-top: 1%;
  position: relative;
  color: #ccc;
  border: 3px solid #333;
  border-radius: 5%;
  padding: 2%;
  width: 75%;
  font-size: 12px;
  display: block;
  margin: auto;
  margin-top: 2%;
  }

  h2 {
  color: #ccc;
  font-size: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  }

  h1 {
  font-size: 10px;
}

}
