<meta http-equiv="Content Type" content="text/html; charset=utf8">
<div class="navbar">
    <ul>
        <li class="user" *ngIf="loggedIn()"> {{user}}</li>
        <li class="upload" *ngIf="loggedIn()"> <button (click)="logout()">Logout</button></li>
        <li class="upload" *ngIf="loggedIn()"> <button (click)="goToDashboard()">Wall</button></li>
        <li class="upload" *ngIf="loggedIn()"> <button (click)="onUpload()">Upload</button></li>
        <li class="myProfile" *ngIf="loggedIn()"><button (click)="goToFavorite()">Favorites</button></li>
        <h2 id="title">Profile</h2>
    </ul>
</div>

<div class="wall">
    <ul>
        <li *ngFor="let pic of pics">
            <button (click)="openDialog(pic)" style="background: url({{pic.photo}}); background-size: cover;"></button>
        </li>
    </ul>
</div>